<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="edit.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Product</title>
</head>

<body>
    <div class="header">
        <h1> ATN Shop</h1>
    </div>
    <div class="content" >

        <h1 class="title">Update Product</h1>

        <form action="/update" method="post" class="updateForm">
                <input type="hidden" name="txtId" value="{{product._id}}">
                <br>
                Number
                <input type="text" name="txtNumber" value="{{product.Number}}" placeholder="Number" class="as" />
                <br>
                Name
                <input type="text" name="txtName" value="{{product.Name}}" class="as" placeholder="Name" class="as"/>
                <br>
                Price
                <input type="text" name="txtPrice" value="{{product.Price}}" class="as" placeholder="Price" class="as" />
                <br>
                Color
                <input type="text" name="txtColor" value="{{product.Color}}" placeholder="Color" class="as">
                <br>
                Material
                <input type="text" name="txtMaterial" value="{{product.Material}}" placeholder="Material" class="as">
                <br>
                Descreption
                <input type="text" name="txtDescreption" value="{{product.Description}}" class="as">
            <br>
            <div class="btnLine">
                <input type="submit" value="Update" class="btn-option">
            </div>
        </form>
    </div>
</body>

</html>
